html,
body {
    overflow-x: hidden;
}

header,
footer {
    z-index: 2;
}

.grecaptcha-badge {
    display: none !important;
}

picture img {
    max-width: 100%;
}

.image-grid {
    .image-grid-inner {
        padding: 10px;

        @include media-breakpoint-up(sm) {
            &:first-child {
                padding-left: 20px;
            }

            &:last-child {
                padding-right: 20px;
            }
        }
    }

    .image-grid-full {
        padding-left: 20px;
        padding-right: 20px;
    }
}

#back-to-top {
    cursor: pointer;

    .arrow-vertical {
        transform: rotate(180deg);

        &:before,
        &:after {
            left: 0;
            right: 0;
            margin: auto;
        }
    }

    transition: color ease-in-out 0.15s;

    &:hover {
        color: $primary;
    }
}


.caldera-grid,
.form-container {
    form {
        .form-title {
            margin-bottom: 10px;
            font-size: 1.25em;
        }

        input {
            border-width: 0 0 2px 0 !important;
            box-shadow: none !important;
            border-radius: 0 !important;
        }

        select,
        textarea {
            border-width: 2px !important;
            border-radius: 0 !important;
            box-shadow: none !important;
        }

        input:not([type='checkbox']):not([type='radio']),
        select,
        textarea {
            width: 100% !important;

            &:focus,
            &:active {
                border-color: $primary !important;
            }
        }

        input[type="submit"] {
            background-color: $primary;
            font-family: $display-font;
            transition: all ease-in-out 0.25s;

            &:hover {
                opacity: 0.5;
            }
        }

        .intl-tel-input {
            width: 100%;
        }

        .primary-button {
            margin-top: 30px;
            border-width: 0 !important;
            font-size: 1.5em;
        }
    }
}

.caldera-grid {
    width: 100%;

    .row {
        margin-left: 0 !important;
        margin-right: 0 !important;

        @include media-breakpoint-down(md) {
            >div {
                width: 100%;
            }
        }
    }

    .breadcrumb {
        text-align: center;
        &:before {
            content: "Steps";
            display: block;
            font-family: $montserrat;
            font-size: 1.5em;
            margin-bottom: 5px;
            letter-spacing: 5px;
            text-transform: uppercase;
            font-weight: bolder;
            color: $gray;
        }
        li {
            a {
                text-decoration: none;
                transition: all ease-in-out 0.15s;
                &:hover {
                    text-decoration: none !important;
                    opacity: 0.5;
                }
            }
        }
    }
}

#case-study-next {
    text-align: center;

    .case-study-next-inner {
        padding: 2em 20px;

        a {
            color: $white;
            text-transform: capitalize;
        }
    }
}

.case-study-services {
    list-style-type: none;
    padding: 0;
}