.blog-categories {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
    // border: solid $gray;
    // border-width: 1px 0;
    text-align: center;
    background: $lighter-gray;
    word-break: break-word;

    a {
        color: $gray;
        font-weight: bold;
        text-transform: lowercase;
        hyphens: auto;
        &:not(:first-child):not(:last-child),
        &:first-child:not(:last-child) {
            &:after {
                content: "/";
                margin: 0 5px;
                color: $light-gray;
            }
        }

        transition: color 0.15s ease-in-out;

        &.is--active,
        &:hover {
            color: $primary;
        }
    }
}

.blog-posts {
    .blog-post {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;

        .blog-post-image,
        .blog-post-meta {
            display: block;
            width: 100%;
        }

        .blog-post-image {
            background-color: grey;
            background-image: repeating-linear-gradient(45deg, #eee, #eee 10px, #ddd 10px, #ddd 20px);
            overflow: hidden;
            margin-bottom: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                transition: all ease-in-out 0.25s;

                &:hover {
                    opacity: 0.5;
                }
            }
        }

        .blog-post-meta {
            .blog-post-title {
                color: $black;
                transition: color 0.15s ease-in-out;
                line-height: 1.25;

                &:hover {
                    color: $primary;
                }
            }

            .blog-post-details {
                display: flex;
                flex-flow: row;
                align-items: center;

                .blog-post-date {
                    display: inline-block;
                    color: $light-gray;
                    font-style: italic;
                    font-size: 0.75em;
                    margin-right: 15px;
                }

                .blog-post-category {
                    color: $light-gray;
                    text-transform: lowercase;
                    a {
                        color: $gray;
                        transition: color 0.15s ease-in-out;
                        font-weight: bold;

                        &:hover {
                            color: $primary;
                        }
                    }
                }
            }

            .blog-post-link {
                margin-top: 0;
                display: inline-flex !important;
                color: $black;
            }
        }

        &:first-child {
            .blog-post-image {
                height: 400px;
            }

            .blog-post-meta {
                .blog-post-title {
                    font-size: 1.25em;
                }
            }
        }

        &:not(:first-child) {
            .blog-post-image {
                height: 250px;
            }

            .blog-post-meta {
                .blog-post-title {
                    font-size: 0.85em;
                }

                .blog-post-content {
                    font-size: 0.85em;
                }

            }
        }

        @include media-breakpoint-up(md) {
            .blog-post-image {
                margin-bottom: 0;
            }

            .blog-post-meta {
                padding-left: 40px;
            }

            &:first-child {

                .blog-post-image,
                .blog-post-meta {
                    width: 50%;
                }
            }

            &:not(:first-child) {
                .blog-post-image {
                    width: 30%;
                }

                .blog-post-meta {
                    width: 70%;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.oxy-easy-posts-pages {
    margin-top: 60px;

    .page-numbers {
        font-family: $display-font;
        font-weight: bold;
        color: $light-gray;
        margin: 0 10px;
        transition: color 0.15s ease-in-out;
        font-size: 1.25em;
        line-height: 1;

        &.current,
        &:hover {
            color: $primary;
        }
    }

    .prev,
    .next {
        vertical-align: bottom;
        margin-top: 0;
        font-size: 0;
        height: 30px;
        @extend .arrow;
        display: inline-flex !important;
    }

    .prev {
        transform: rotate(180deg);
    }
}

.blog-header {
    position: relative;
    .ct-section-inner-wrap {
        &:before {
            z-index: -1;
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            right: 0;
            bottom: 0;
            width: 300%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#000000', GradientType=0);
        }
    }
    .blog-header-categories {
        a {
            color: $gray;
            transition: color 0.15s ease-in-out;
            &.is--active,
            &:hover {
                color: $primary;
            }
        }
    }
}

.blog-content {
    img, iframe {
        max-width: 100%;
    }
}