$cb-border-width: 10px;
$cb-border-color: $light-gray;

.chatbubble {
    width: 300px;
    margin: 25px auto;
    border: 3px solid $cb-border-color;
    padding: 20px;
    text-align: center;
    color: $white;
    letter-spacing: 2px;
    position: relative;
    display: flex;
    justify-content: center;
    transition: border 0.15s ease-in-out;

    &:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: $cb-border-width solid transparent;
        border-right: $cb-border-width solid transparent;
        border-top: $cb-border-width solid $cb-border-color;
        border-bottom: $cb-border-width solid transparent;
        transition: border 0.15s ease-in-out;
        bottom: -23px;
    }

    &:after {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        border-left: $cb-border-width solid transparent;
        border-right: $cb-border-width solid transparent;
        border-top: $cb-border-width solid $black;
        border-bottom: $cb-border-width solid transparent;
        transition: border 0.15s ease-in-out;
        bottom: -18px;
    }

    &:hover {
        border-color: $primary;

        &:before {
            border-top-color: $primary;
        }
    }
}

#lets-chat-button {
    &:hover {
        .chatbubble {
            border-color: $primary;

            &:before {
                border-top-color: $primary;
            }
        }
    }
}