#client-dashboard {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: stretch;
    width: 100%;
    background: $black;
    padding-top: 75px;
    border-left: 1px solid $light-gray;
    border-right: 1px solid $light-gray;

    #client-dashboard-nav,
    #client-dashboard-content {
        background: $white;
    }

    #client-dashboard-nav {
        width: 20%;
        max-width: 300px;
        border-right: 1px solid $light-gray;

        .client-dashboard-user {
            padding: 10px 20px;
            display: flex;
            flex-flow: row;
            align-items: center;
            border-bottom: 1px solid $light-gray;

            .client-dashboard-logo {
                border: 1px solid $light-gray;
                border-radius: 100%;
                overflow: hidden;
                width: 50px;
                height: 50px;
                position: relative;

                img {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 75%;
                    height: 75%;
                }
            }

            .client-dashboard-company {
                margin-left: 15px;
            }
        }

        .client-dashboard-menu {
            list-style-type: none;
            padding: 20px;
            margin: 0;

            li {
                margin: 10px 0;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    color: $light-gray;
                    font-family: $display-font;
                    font-weight: bold;
                    transition: all ease-in-out 0.25s;
                    &.is--active,
                    &:hover {
                        color: $primary;
                    }
                }
            }
        }
    }

    #client-dashboard-content {
        flex-grow: 1;

        // padding: 20px;
        .client-dashboard-section {
            iframe {
                width: 100%;
            }

            &:not(.is--active) {
                display: none;
            }
        }
    }
}