.fl-node-5c12cb2c9b634 {
    display: none !important;
}

#depracated {

    .cta,
    .slider-pagination,
    .title {
        display: none;
    }

    .slider {
        list-style-type: none;
        padding: 0;
    }
}

.so-widget-form {
    input:not([type="checkbox"]) {
        width: 100%;
        margin-bottom: 10px;
    }

    input[type="text"] {
        padding: 5px 10px;
    }

    span {
        color: white;
        font-weight: bold;
    }

    input[type="submit"] {
        padding: 15px 10px;
        background-color: $primary;
        font-weight: bold;
        font-family: $display-font;
        color: white;
        outline: none;
        border: none;
    }
}