.form {
    .form-group {
        margin-bottom: $grid-gutter/2;
        label {
            display: block;
        }
        input {
            display: block;
            width: 100%;
            &[type='text'], &[type='number'] {
                padding: 5px;
            }
        }
        small {
            display:block;
        }
    }
    .primary-button {
        margin-top: 15px;
        width: 100%;
        border: none;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
}