#google-badge {
    // display: none !important;
    display: block;
    position: fixed;
    z-index: 5;
    padding: 10px;
    background-color: $white;
    border-top: 3px solid #4FCE6A;
    overflow: hidden;
    bottom: 0;
    left: 0;

    @include media-breakpoint-up(md) {
        bottom: 20px;
        left: 20px;
    }

    .google-schema {
        display: none;
    }

    .google-rating {
        display: flex;
        flex-flow: row;

        .google-star {
            display: flex;
            flex-flow: column;

            .google-text {
                line-height: 1;
                font-size: 0.85em;
                color: $gray;
                transition: 0.15s ease-in-out all;

                &:hover {
                    color: $primary;
                }
            }

            .star-rating {}
        }

        .google-icon {
            background-image: url('../images/google-icon.svg');
            background-size: 100%;
            width: 35px;
            height: 35px;
            margin-right: 10px;
        }
    }
}

.star-rating {
    background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
    font-size: 0;
    height: 21px;
    line-height: 0;
    overflow: hidden;
    text-indent: -999em;
    width: 110px;

    // margin: 0 auto;
    .star-rating-inner {
        background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
        background-position: 0 100%;
        float: left;
        height: inherit;
        display: block;
    }
}

#mapbox {
    width: 100%;
    height: 500px;
}

#google-map {
    width: 100%;
    height: 500px;

    #google-map-inner {
        width: inherit;
        height: inherit;
    }
}

#mapbox {

    .mapboxgl-ctrl-logo,
    .mapboxgl-ctrl-attrib {
        z-index: -1 !important; // This is 1000 by default
        position: relative;
        visibility: hidden;
        opacity: 0;
    }
}