$header-transition-time: 0.20s;

body {
    &.admin-bar {
        #navigation {
            padding-top: 46px;
            &.is--sticky {
                padding-top: 0;
            }
            @media screen and (min-width: 783px) {
                padding-top: 52px !important;
            }
        }
        #frame {
            @media screen and (min-width: 783px) {
                margin-top: 32px !important;
                height: calc(100% - 32px) !important;
            }
        }
    }
}

#navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 20px 0 20px;

    #navigation-logo {
        transition: all ease-in-out $header-transition-time;
        width: 316px;
        height: 75px;
        overflow: hidden;
        background: $black;
        padding: 0 15px;
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            width: 100%;
            height: 50%;

            svg {
                width: auto;
                height: 100%;

                .cls-1 {
                    fill: $primary;
                }

                .cls-2 {
                    fill: $white;
                }

                * {
                    &:not(.logo-shield) {
                        transition: all ease-in-out $header-transition-time;
                        will-change: opacity;
                        transform: translateZ(0);
                    }

                    &.logo-shield {
                        transition: all ease-in-out $header-transition-time;
                        will-change: transform;
                        transform: translateZ(0);
                    }
                }
            }
        }

    }

    #menu-button {
        background: $dark-gray;
        width: 75px;
        height: 75px;
        z-index: 1;
        cursor: pointer;
        position: relative;
        padding: 0;
        margin: 0;
        box-sizing: border-box;

        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        cursor: pointer;

        .hamburger,
        .cross {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .hamburger {
            span {
                display: block;
                width: 18px;
                height: 2px;
                margin-bottom: 3px;
                overflow: hidden;
                position: relative;

                &:last-child {
                    margin: 0;

                    &:before,
                    &:after {
                        transition-delay: 150ms;
                    }
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    background-color: $white;
                    transform: translateX(-200%);
                    transition: transform ease 300ms;
                }

                &:after {
                    transform: translateX(0);
                }

                &:nth-child(2) {

                    &:before,
                    &:after {
                        transition-delay: 75ms;
                    }
                }
            }
        }

        .cross {
            span {
                display: block;
                width: 18px;
                height: 2px;
                background-color: $white;
                transform: translateY(50%) rotate(45deg) scaleX(0);
                transition: transform ease 200ms;

                &:last-child {
                    transform: translateY(-50%) rotate(-45deg) scaleX(0);
                }
            }
        }

        &:hover {
            .hamburger {
                span {
                    &:before {
                        transform: translateX(0);
                    }

                    &:after {
                        transform: translateX(200%);
                    }
                }
            }
        }

        &.is--active {
            .hamburger {
                span {

                    &:before,
                    &:after {
                        background-color: $white;
                    }

                    &:before {
                        transform: translateX(100%);
                    }

                    &:after {
                        transform: translateX(200%);
                    }
                }
            }

            .cross {
                span {
                    transition-delay: 450ms;
                    transform: translateY(50%) rotate(45deg) scaleX(1);
                    background-color: $white;

                    &:last-child {
                        transform: translateY(-50%) rotate(-45deg) scaleX(1);
                    }
                }
            }
        }
    }

    &.is--sticky:not(.is--open) {
        // position: fixed;
        // top: 0;
        // left: 0;
        // width: 100%;
        // padding: 20px 20px 0 20px;

        #navigation-logo {
            width: 75px;

            .logo {
                svg {
                    * {
                        &:not(.logo-shield) {
                            opacity: 0;
                        }

                        &.logo-shield {
                            transform: translateX(-86%);
                        }
                    }
                }
            }
        }
    }

    &.is--open {
        #navigation-logo {
            background-color: transparent !important;
        }
    }

    @include media-breakpoint-down(md) {
        padding: 0;

        #navigation-logo {
            width: 200px;

            .logo {
                svg {
                    margin-top: 8px;
                    width: 170px;
                    height: auto;
                }
            }
        }

        &.is--sticky:not(.is--open) {
            #navigation-logo {
                .logo {
                    svg {
                        * {
                            &.logo-shield {
                                transform: translateX(-81%);
                            }
                        }
                    }
                }
            }
        }
    }
}

#navigation-menu {
    opacity: 0;
    visibility: hidden;
    transition: all ease-in-out 0.10s;

    &:before {
        content: "";
        transform: scale(0);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $dark-gray;
        z-index: -1;
        transition: all ease-in-out 0.25s;
        transform-origin: top right;
    }

    #main-menu {
        ul {
            li {
                transform: translateX(100px);
                opacity: 0;
                visibility: hidden;

                a {
                    transition: 0.15s;

                    @include media-breakpoint-down(md) {
                        align-self: flex-end;
                    }

                    &:hover {
                        color: $primary;
                    }
                }

                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        transition: 0;
                        transition-delay: 0;
                    }
                }
            }
        }
    }

    #navigation-right {
        transform: translateX(-100px);
        opacity: 0;
        visibility: hidden;
    }

    &.is--open {
        opacity: 1;
        visibility: visible;

        &:before {
            transform: scale(1) !important;
        }

        #navigation-right {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;
            transition: 0.25s;
            transition-delay: 1s;
        }

        #main-menu {
            ul {
                li {
                    transform: translateX(0);
                    opacity: 1;
                    visibility: visible;

                    a {
                        @include media-breakpoint-down(md) {
                            font-size: 1.5em;
                        }
                    }

                    @for $i from 1 through 10 {
                        &:nth-child(#{$i}) {
                            transition: 0.25s;
                            transition-delay: calc(0.25s + (#{$i} * 0.10s));
                        }
                    }
                }
            }
        }
    }
}