.owl-carousel {
    display: block !important;

    .owl-video-play-icon {
        background-image: url('../images/owl.video.play.png') !important;
    }

    .owl-video-tn {
        background-size: cover;
    }
}