#service-categories {
    width: 100%;

    .service-category {
        width: 100%;

        .ct-section-inner-wrap {
            display: flex;
        }

        &:nth-child(odd) {
            background-color: $lighter-gray;
        }

        &:nth-child(even) {
            .service-category-text {
                order: 2;
            }

            .service-category-image {
                order: 1;
            }

        }

        .service-category-text,
        .service-category-image {
            padding: 20px;
        }

        .service-category-text {
            .service-category-link {
            }
        }

        .service-category-image {
            display: flex;
            justify-content: center;
            align-items: center;

            img,
            svg {
                width: 100%;
                height: auto;
                max-width: 225px;
            }

            svg {
                transition: all ease-in-out 0.15s;
            }
        }

        &:hover {
            .service-category-image {
                svg {
                    transform: scale(1.025);
                }
            }
        }

        @include media-breakpoint-down(lg) {
            .ct-section-inner-wrap {
                flex-flow: column;
            }

            .service-category-text {
                width: 100%;
                order: 2 !important;
            }

            .service-category-image {
                width: 40%;
                order: 1 !important;
            }
        }

        @include media-breakpoint-up(lg) {
            .ct-section-inner-wrap {
                flex-flow: row;
            }

            .service-category-text {
                width: 70%;
            }

            .service-category-image {
                width: 30%;
            }
        }
    }
}

.svg-draw {
    stroke: $light-gray;
    stroke-width: 0;
    animation: draw 1.5s ease-in forwards;
    animation-delay: 1.25s;
    * {
        fill: transparent;
    }

    &.is--visible {
        * {
            @extend .svg-draw;
        }
    }
}

@keyframes draw {
    0% {
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
        fill: transparent;
        stroke-width: 0.25px;
    }

    75% {
        stroke-dashoffset: 0;
        fill: transparent;
        stroke-width: 0.25px;
    }

    100% {
        stroke-dashoffset: 0;
        stroke-width: 0;
        fill: $light-gray;
    }
}

.service-right {
    .service-sub {
        transform: translateX(100px);
        opacity: 0;
        visibility: hidden;

        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                transition: 0;
                transition-delay: 0;
            }
        }
    }

    &.is--visible {
        .service-sub {
            transform: translateX(0);
            opacity: 1;
            visibility: visible;

            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                    transition: 0.25s;
                    transition-delay: calc(1.5s + (#{$i} * 0.10s));
                }
            }
        }
    }
}
