#social-sharing-float {
    display: none;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 15vh;
    width: 25px;
    z-index: 1;
    margin-left: -10px;

    @include media-breakpoint-up(md) {
        display: flex;
        margin-left: -15px;
    }

    @include media-breakpoint-up(lg) {
        margin-left: -20px;
    }

    @include media-breakpoint-up(xl) {
        margin-left: -30px;
    }

    @include media-breakpoint-up(xxl) {
        // top: 5vh;
        margin-left: -50px;
    }

    .social-sharing-label {
        transform: rotate(-90deg);
        position: absolute;
        width: max-content;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;

        top: 25px;
        line-height: 1;

        &:before {
            content: "";
            display: inline-block;
            width: 10px;
            height: 2px;
            background-color: $light-gray;
            margin-right: 10px;
        }
    }

    .social-sharing-container {
        padding-top: 100px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .social-sharing-icon {
            font-size: 20px;
            color: $gray;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: $primary;
            }

            &.social-sharing-icon-twitter {
                &:hover {
                    color: #1da1f2;
                }
            }

            &.social-sharing-icon-facebook {
                &:hover {
                    color: #3b5998;
                }
            }

            &.social-sharing-icon-youtube {
                &:hover {
                    color: #ff0000;
                }
            }

            &.social-sharing-icon-instagram {
                &:hover {
                    color: #c32aa3;
                }
            }

            &.social-sharing-icon-linkedin {
                &:hover {
                    color: #007bb5;
                }
            }

            &.social-sharing-icon-google-plus,
            &.social-sharing-icon-google {
                &:hover {
                    color: #db4437;
                }
            }

            &.social-sharing-icon-pinterest {
                &:hover {
                    color: #bd081c;
                }
            }

            &.social-sharing-icon-tumblr {
                &:hover {
                    color: #35465d;
                }
            }
        }
    }
}

.social-sharing {
    .social-sharing-label {
        font-family: $display-font;
        color: $light-gray;
        text-transform: uppercase;
    }

    .social-sharing-container {
        .social-sharing-icon {
            color: $gray;
            transition: color 0.15s ease-in-out;

            &:hover {
                color: $primary;
            }

            &.social-sharing-icon-twitter {
                &:hover {
                    color: #1da1f2;
                }
            }

            &.social-sharing-icon-facebook {
                &:hover {
                    color: #3b5998;
                }
            }

            &.social-sharing-icon-youtube {
                &:hover {
                    color: #ff0000;
                }
            }

            &.social-sharing-icon-instagram {
                &:hover {
                    color: #c32aa3;
                }
            }

            &.social-sharing-icon-linkedin {
                &:hover {
                    color: #007bb5;
                }
            }

            &.social-sharing-icon-google-plus,
            &.social-sharing-icon-google {
                &:hover {
                    color: #db4437;
                }
            }

            &.social-sharing-icon-pinterest {
                &:hover {
                    color: #bd081c;
                }
            }

            &.social-sharing-icon-tumblr {
                &:hover {
                    color: #35465d;
                }
            }
        }
    }
}

#social-sharing {
    width: 100%;
    padding: 50px 20px;
    background-color: $lighter-gray;
    display: flex;
    flex-flow: column;
    align-items: center;
    .social-sharing-label {
        font-size: 1.25em;
        font-weight: bold;
        letter-spacing: 3px;
    }
    .social-sharing-container {
        .social-sharing-icon {
            font-size: 3em;
            margin: 0 10px;
        }
    }
}