.testimonial-post {
    .testimonial-post-video {
        position: relative;
        height: 200px;

        @include media-breakpoint-up(lg) {
            height: 375px;
        }

        @include media-breakpoint-up(xl) {
            height: 500px;
        }

        margin-bottom: 1em;
        iframe  {
            z-index: 1;
            position: absolute;
            width: 100%;
            height: 100%;
        }
        // iframe {
        //     position: absolute;
        //     top: -60px;
        //     left: 0;
        //     width: 100%;
        //     height: calc(100% + 60px);
        // }
    }

    .testimonial-post-meta {
        text-align: center;

        .testimonial-post-name {
            margin-bottom: 10px;
            line-height: 1;
        }

        .testimonial-post-company {
            margin: 0;
        }
    }
}

#testimonials {
    position: relative;
    .owl-nav {
        pointer-events: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        button {
            position: absolute;
            top: 0;
            bottom: 0;
            width: 16%;
            height: 100%;
            pointer-events: auto;
            outline: none;
            span {
                display: none !important;
            }
            &.owl-prev {
                left: 0;
            }
            &.owl-next {
                right: 0;
            }
        }
    }
}