.timeline-container {
    // overflow-x: hidden;
    // overflow-y: auto;

    .timeline-event {
        position: relative;
        align-items: center;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &:before,
        &:after {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            background-color: $gray;
        }

        &:before {
            z-index: 1;
            top: 0;
            bottom: 0;
            width: 20px;
            height: 20px;
            border: 2px solid $white;
            border-radius: 100%;
            opacity: 0;
            transform: scale(0);
            will-change: transform, opacity;
        }

        &:after {
            width: 2px;
            opacity: 0;
            transform: scaleY(0);
            transform-origin: top;
            will-change: transform, opacity;
        }

        &:not(:first-child):not(:last-child) {
            &:after {
                top: 0;
                bottom: 0;
                height: calc(100% + 30px);
            }
        }

        &:last-child {
            &:after {
                top: 0;
            }
        }

        @include media-breakpoint-down(md) {
            &:before {
                margin-top: 8px;
            }

            &:after {
                margin-top: 12px;
                left: 9px;
            }

            &:first-child {
                &:after {
                    top: 0;
                    bottom: 0;
                    height: calc(100% + 30px);
                }
            }

            .timeline-event-block {
                &.timeline-event-title {
                    margin-bottom: 1em;
                    text-align: left;
                }
            }
        }

        @include media-breakpoint-up(md) {
            &:before {
                margin: auto;
            }

            &:after {
                margin: 0 auto;
            }

            &:first-child {
                &:after {
                    height: calc(50% + 30px);
                }
            }

            &:last-child {
                &:after {
                    height: 50%;
                }
            }

            &:first-child {
                &:after {
                    bottom: -30px;
                }
            }

            &:nth-child(odd) {
                .timeline-event-title {
                    align-items: flex-end;
                }
            }

            &:nth-child(even) {
                .timeline-event-title {
                    order: 3;
                }

                .timeline-event-separator {
                    order: 2;
                }

                .timeline-event-description {
                    order: 1;
                }
            }
            .timeline-event-separator {
                display: block !important;
            }
        }

        &.is--visible {
            &:nth-child(odd) {
                .timeline-event-title {
                    animation: timeline-left 0.5s ease-out forwards;
                    animation-delay: 0.15s;
                }

                .timeline-event-description {
                    animation: timeline-right 0.5s ease-out forwards;
                    animation-delay: 0.15s;
                }
            }

            &:nth-child(even) {
                .timeline-event-title {
                    animation: timeline-right 0.5s ease-out forwards;
                    animation-delay: 0.15s;
                }

                .timeline-event-description {
                    animation: timeline-left 0.5s ease-out forwards;
                    animation-delay: 0.15s;
                }
            }

            .timeline-event-separator {
                animation: timeline-separator 0.5s ease-out forwards;
                animation-delay: 1s;
            }

            &:before {
                opacity: 1;
                transform: scale(1);
                transition: all 0.25s ease-out;
                transition-delay: 0.65s;
            }

            &:after {
                opacity: 1;
                transform: scaleY(1);
                transition: all 0.25s ease-out;
                transition-delay: 1s;
            }
        }

        .timeline-event-block {
            opacity: 0;
            will-change: transform, opacity;

            &.timeline-event-title {}

            &.timeline-event-description {
                .timeline-event-description-text {
                    text-align: left;
                }
            }
        }

        .timeline-event-separator {
            display: none;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
            width: 100px;
            height: 2px;
            background: gray;
            opacity: 0;
        }
    }
}

@keyframes timeline-separator {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(100%);
    }
}

@keyframes timeline-left {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes timeline-right {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}