.form-calculator {
    background-color: $dark-gray;
    color: $white;
    padding: 20px;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;

    label {
        font-weight: bold;
        width: 100%;
    }

    input {
        &[type=text], &[type=number] {
            background: transparent;
            border: none;
            border-bottom: 1px solid gray;
            padding: 5px;
            color: $primary;
            font-weight: bold;
            font-size: 2em;
        }
    }

    .first {
        margin-bottom: 1em;

        .months {
            // @include make-xs-col(4);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 1em;

            .calculator-btn {
                background-color: $gray;
                color: $white;
                display: block;
                width: 100%;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                transition: all 0.15s ease-in-out;

                @include media-breakpoint-up(md) {
                    font-size: 1.5em;

                    span {
                        margin-left: 0.25em;
                    }
                }
            }

            &.is--active,
            &:hover {
                .calculator-btn {
                    background-color: $primary;
                }
            }
        }
    }

    .second {
        .package {
            margin-bottom: 1em;

            select {
                width: 100%;
                padding: 0.25em;
            }
        }

        .amount {
            text-align: right;

            @include media-breakpoint-down(xs) {
                text-align: center !important;
            }

            #monthly-payment {
                color: $primary;
                font-size: 3em;
                font-weight: bold;

                &:before {
                    font-size: 0.65em;
                    vertical-align: top;
                    font-weight: normal;
                    content: '$';

                }
            }

            .wrapper {
                border: 2px solid $white;
                padding: 1em;
            }
        }
    }

    .disclaimer {
        margin-top: 1em;

        ul {
            li {
                font-size: 0.75em;
            }
        }
    }
}

.roi-toggle {
    .roi-toggle-button {
        display: inline-block;
        padding: 5px;
        text-transform: uppercase;
        font-weight: bold;
        border: 2px solid $gray;
        color: $gray;
        transition: all ease-in-out 0.15s;
        text-align: center;
        width: 115px;
        font-size: 0.75em;
        &.is--active,
        &:hover {
            background: $primary;
            border-color: $primary;
            color: $white;
        }
    }
}