.work-posts {
    &:nth-child(2n+1) {
        margin-top: 40px;
    }
    .oxy-posts {
        justify-content: space-between;
    }

    .work-post {
        position: relative;
        height: 0;
        width: 100%;
        padding-bottom: 100%;
        margin-bottom: 20px;
        @include media-breakpoint-up(md) {
            width: calc(50% - 20px);
            padding-bottom: calc(50% - 20px);
            margin-bottom: 0;
        }
        .work-post-image,
        .work-post-meta {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
        }

        .work-post-image {
            z-index: 1;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
                opacity: 0.5;
            }
        }

        .work-post-meta {
            display: flex;
            flex-direction: column;
            padding: 20px;
            z-index: 2;
            overflow: hidden;
            &:before {
                content: "";
                z-index: -1;
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.65);
                transform: scaleX(0);
                transition: all ease-in-out 0.15s;
                transform-origin: top left;
            }

            .work-post-title {
                color: $white;
                font-size: 2em;
                line-height: 1.25;
                @include media-breakpoint-up(md) {
                    font-size: 2.75em;
                }
            }

            .work-post-content,
            .work-post-link {
                opacity: 0;
                visibility: hidden;
            }

            .work-post-content {
                color: $white;
                font-size: 1.25em;
            }

            .work-post-link {
                width: max-content;
                margin-top: auto;
                align-self: flex-end;
                color: $white;
                transform: translateY(20px);
                // border: solid white;
                // border-width: 2px 0 0 2px;
            }
        }

        &:hover {
            .work-post-meta {
                &:before {
                    transform: scaleX(1);
                }

                .work-post-content,
                .work-post-link {
                    opacity: 1;
                    visibility: visible;
                    transition: all ease-in 0.15s;
                }
                .work-post-content {
                    transition-delay: 0.25s;
                }
                .work-post-link {
                    transform: translateY(0);
                    transition-delay: 0.5s;
                }

                .work-post-content {
                    p {
                        @extend .random-letters-action;
                    }
                }

                .work-post-link {}
            }
        }
    }
}