.arrow {
    position: relative;
    display: inline-block;
    // display: inline-flex !important;
    // justify-content: center;
    // align-items: center;
    padding-right: 50px;
    &:before, &:after {
        position: absolute;
        content: "";
        display: block;
        top: 0;
        bottom: 0;
        margin-top: auto;
        margin-bottom: auto;
    }
    &:before {
        transition: 0.15s;
        width: 15px;
        height: 15px;
        right: 2px;
        display: block;
        transform: rotate(45deg);
        border: $primary solid;
        border-width: 3px 3px 0 0;
    }

    &:after {
        transition: 0.15s;
        right: 0;
        width: 36px;
        height: 3px;
        background-color: $primary;
    }

    &:hover {
        &:before {
            animation: horizontal-arrow-tip 0.5s infinite alternate ease-in-out;
        }

        &:after {
            animation: horizontal-arrow-shaft 0.5s infinite alternate ease-in-out;
        }
    }
}

@keyframes horizontal-arrow-tip {
    from {
        transform: translateX(0) rotate(45deg);
    }

    to {
        transform: translateX(5px) rotate(45deg);
    }
}

@keyframes horizontal-arrow-shaft {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(5px);
    }
}

@keyframes horizontal-arrow-tip-reversed {
    from {
        transform: translateX(0) rotate(-135deg);
    }

    to {
        transform: translateX(-5px) rotate(-135deg);
    }
}

@keyframes horizontal-arrow-shaft-reversed {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-5px);
    }
}

.arrow-vertical {
    position: relative;
    padding-left: 1.5em;
    @include media-breakpoint-up(lg) {
        padding-left: 2em;
    }
    @include media-breakpoint-up(xl) {
        padding-left: 3em;
    }
    &:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: 0;
        width: 2px;
        height: 100%;
        background-color: $light-gray;
        animation: vertical-arrow-shaft 0.5s infinite alternate ease-in-out;
    }
    &:after {
        content: "";
        width: 12px;
        height: 12px;
        position: absolute;
        bottom: -1px;
        left: -5px;
        display: block;
        transform: rotate(-45deg);
        border: $light-gray solid;
        border-width: 0 0 2px 2px;
        animation: vertical-arrow-tip 0.5s infinite alternate ease-in-out;
    }
}


@keyframes vertical-arrow-tip {
    from {
        transform: translateY(0) rotate(-45deg);
    }

    to {
        transform: translateY(5px) rotate(-45deg);
    }
}

@keyframes vertical-arrow-shaft {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(5px);
    }
}