.primary-button {
    font-family: $display-font !important;
    padding: 10px 25px;
}

.secondary-button {
    @extend .arrow;
    margin-top: 1em;
    transition: all ease-in-out 0.15s;
    color: $black;

    &:hover {
        color: $primary !important;
    }

    &.reversed {
        padding-left: 50px;
        padding-right: 0;

        &:before {
            left: 2px;
            right: auto;
            transform: rotate(-135deg);
        }

        &:after {
            left: 0;
            right: auto;
        }
        &:hover {
            &:before {
                animation: horizontal-arrow-tip-reversed 0.5s infinite alternate ease-in-out;
            }

            &:after {
                animation: horizontal-arrow-shaft-reversed 0.5s infinite alternate ease-in-out;
            }
        }
    }
}

.cta-button {
    position: relative;
    transition: all ease-in-out 0.25s;
    overflow: hidden;

    .cta-button-text {
        position: relative;
        transition: all ease-in-out 0.25s;

        >* {
            z-index: 1;
            transition: all ease-in-out 0.25s;
        }

        .cta-button-text-last {
            position: absolute !important;
            width: 100%;
            transform: translateY(-200%);
            @extend .arrow;
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        background: $dark-gray;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        transition: all ease-in-out 0.15s;
        transform: scaleY(0);
        transform-origin: top;
    }

    &:hover {
        .cta-button-text {
            .cta-button-text-first {
                transform: translateY(200%);
            }

            .cta-button-text-last {
                transform: translateY(0);
            }
        }

        &:before {
            transform: scaleY(1);
        }
    }
}


@keyframes scrollDown {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        transform: translateY(100%);
    }

    51% {
        opacity: 0;
        transform: translateY(-100%);
    }

    52% {
        opacity: 1;
    }

    100% {
        transform: translateY(0%);
    }
}