@include media-breakpoint-up(md) {
    .random-letters {
        span {
            opacity: 0;
            position: relative;
        }

        &.is--visible:not(.random-letters-hover):not(.random-letters-event) {
            span {
                animation: randomLetters 1s ease-in-out forwards;

                @for $i from 1 through 5 {
                    &:nth-child(4n+#{$i}) {
                        animation-delay: calc((#{$i} * 0.2s));
                    }
                }
            }
        }
    }
    .random-letters-action {
        span {
            animation: randomLetters 1s ease-in-out forwards;

            @for $i from 1 through 5 {
                &:nth-child(4n+#{$i}) {
                    animation-delay: calc((#{$i} * 0.2s));
                }
            }
        }
    }
    .random-letters-hover {
        &:hover {
            span {
                animation: randomLetters 1s ease-in-out forwards;

                @for $i from 1 through 5 {
                    &:nth-child(4n+#{$i}) {
                        animation-delay: calc((#{$i} * 0.2s));
                    }
                }
            }
        }
    }
}
@include media-breakpoint-down(md) {
    .random-letters {
        opacity: 1 !important;
        span {
            opacity: 1 !important;
        }
    }
    // .random-letters {
    //     opacity: 0;
    //     transform: translateY(-10px);
    //     animation: randomLetters 1s ease-in-out forwards;
    // }
}


@keyframes randomLetters {
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}