.underline {
    position: relative;
    &:after {
        content: "";
        display: block;
        margin: 5px 0 15px 0;
        width: 0;
        height: 2px;
        background-color: $gray;
    }
    &.is--visible {
        &:after {
            animation: underline 0.15s ease-out forwards;
            animation-delay: 2s;
        }
    }
}

.underline-center {
    &:after {
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
}

@keyframes underline {
    to {
        width: 100px;
    }
}