$blue: #2cc4ec;
$white: #fff;
$black: #000;
$dark-gray: #333333;
$gray: #707070;
$light-gray: #ACACAC;
$lighter-gray: #EFEFEF;

$primary: $blue;

$montserrat: 'Montserrat';
$istok: 'Istok Web';

$display-font: $montserrat;
$text-font: $istok;

@mixin _assert-ascending($map, $map-name) {
    $prev-key: null;
    $prev-num: null;
    @each $key, $num in $map {
      @if $prev-num == null {
        // Do nothing
      } @else if not comparable($prev-num, $num) {
        @warn "Potentially invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} whose unit makes it incomparable to #{$prev-num}, the value of the previous key '#{$prev-key}' !";
      } @else if $prev-num >= $num {
        @warn "Invalid value for #{$map-name}: This map must be in ascending order, but key '#{$key}' has value #{$num} which isn't greater than #{$prev-num}, the value of the previous key '#{$prev-key}' !";
      }
      $prev-key: $key;
      $prev-num: $num;
    }
}

$grid-breakpoints: (
    xs: 0,
    sm: 480px,
    md: 768px,
    lg: 992px,
    xl: 1120px,
    xxl: 1400px,
    xxxl: 1600px,
  ) !default;
  @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

$grid-gutter: 20px;